@page "/"

<h1 class="title"> Index </h1>
<hr/>
<h1>
    Yes index
</h1>
<p>
    Welcome to your new app.
</p>
<article class="message is-danger">
    <div class="message-header">
        <p>
            Danger
        </p>
        <button class="delete"></button>
    </div>
    <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum
        <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>.
    </div>
</article>

<article class="message is-primary">
    <div class="message-header">
        <p>
            Primary
        </p>
    </div>
    <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum
        <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>.
    </div>
</article>

<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img alt="Image" src="https://s3.amazonaws.com/uifaces/faces/twitter/zeldman/128.jpg">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong> John Smith </strong> <small> @@johnsmith </small> <small> 31m </small>
                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                </p>
            </div>
            <nav class="level">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small">
                            <i class="fa fa-reply"> </i>
                        </span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small">
                            <i class="fa fa-retweet"> </i>
                        </span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small">
                            <i class="fa fa-heart"> </i>
                        </span>
                    </a>
                </div>
            </nav>
        </div>
    </article>
</div>